/* Laptop */
@media screen and (min-width: 992px) and (max-width: 1439px) {

    header{
        display: flex;
        justify-content: center;
    }

    #bloc_menu_common {
        display: flex;
        justify-content: space-between;
        width: 88rem;
    }

    #bloc_menu_common figure {
        margin: 0;
    }

    #logo_img {
        width: 9.7rem;
        height: 4.5rem;
        padding-top: 3rem;
    }

    html {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    #logo {
        margin: 0 0 0 0;
        padding-top:4.7rem;
    }

    #menu_desktop {
        display: flex;
    }

    ol {
        display: flex;
        flex-direction : row;
        list-style: none;
        margin: 0 0 0 0 ;
        padding: 0 0 0 0;
        /* width: 45.3rem; */
    }

    #nav_housing_desktop {
        width: 15.1rem;
      }

    #nav_activity_desktop {
        width: 15.1rem;
      }

    .link{
        justify-content : flex-end;
    }

    .link_desktop:link {
        display: flex;
        justify-content : center;
        padding-top: 5rem;
        border-top: solid;
        border-color: transparent;
        text-decoration: none;
        color: black;
      }

    .link_desktop:visited {
        text-decoration: none;
        color: black;
        justify-content : flex-end;
      }

    .link_desktop:hover {
        display: flex;
        justify-content : center;
        padding-top: 5rem;
        text-decoration: none;
        color: #0065FC;
        border-top: solid;
      }

    .link_desktop:active {
        text-decoration: underline;
        justify-content : flex-end;
      }

    #nav_registration_desktop {
        display: flex;
        justify-content : flex-end;
        align-items : center;
        /* padding-top: 2.8rem;
        width: 15.1rem; */
        padding-top: 5rem;
        padding-left: 3rem;
        color: #0065FC;
        font-weight: bold;
    }

    #menu_registration_mobile {
        display: none;
    }

    #bloc_menu_mobile {
        display: none;
    }

}