/* Laptop / Desktop  */
@media screen and (min-width: 992px) and (max-width: 1199px) {

    .populaires_article_bloc{

    }

    #populaires_article_bloc_2 b {
        font-weight: normal;
    }

    #populaires {
        /*! display: flex; */
        /*! flex-direction: column; */
        /*! background-color: #F2F2F2; */
        /*! border-radius: 1rem; */
        /*! padding-left: 3rem; */
        /*! padding-right: 3rem; */
        /*! margin-left: 4rem; */
        /*! display: flex; */
        /*! flex-wrap: wrap; */
        /*! justify-content: space-evenly; */
        /*! width: 88rem; */
        /*! display: flex; */
        /*! flex-wrap: wrap; */
        /*! justify-content: space-evenly; */
        /*! width: 88rem; */
        /*! flex-direction: column; */
        background-color: #F2F2F2;
        margin-top: 4rem;
        padding-bottom: 2rem;
        margin-bottom: 4rem;
        border-radius: 1rem;
    }

    #populaires_title {
        font-weight: bold;
        font-size: 2.2rem;
    }

    #populaires_title_bloc {
        display: flex;
        justify-content: space-between;
        width: 81.5rem;
        /*! align-items: center; */
        /*! margin-top: 5rem; */
        /*! margin-bottom: 1rem; */
        margin-top: 5rem;
        margin-left: 3rem;
        /*! font-weight: bold; */
        /*! font-size: 2.2rem; */
    }

    #populaires_title_logo {
        display: flex;
        align-items : flex-end;
    }

    #populaires_title_logologo{
        color: black;
    }

    .populaires_article {
        /*! display: flex; */
        /* flex-direction: row; */
        /*! width: 33rem; */
        /*! height: 13.4rem; */
        /*! margin-top: 2.3rem; */
        /*! border: 0.5rem solid white; */
        /*! border-radius: 1.5rem; */
        /*! background-color: white; */
        display: flex;
        flex-direction: column;
        /*! justify-content: center; */
        align-items: center;
        width: 24.6rem;
        margin-top: 2rem;
        border: 0.5rem solid white;
        border-radius: 1.5rem;
        background-color: white;
        margin-bottom: 2rem;
    }

    #populaires_article_photo {
        /*! width: 12.7rem; */
        /*! height: 13.4rem; */
        /* height: 114px; */
        /*! border-radius: 1rem 0 0 1rem; */
        /*! object-fit: cover; */
        width: 24.6rem;
        height: 11.4rem;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
    }

    #populaires_article_p1 {
        /* justify-content : flex-start; */
        /*! margin-top: 0.6rem; */
        /*! margin-bottom: 0.6rem; */
        /*! font-weight: bold; */
        /*! width: 15rem; */
        /* margin-left: 16px; */
        justify-content: flex-start;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
        font-weight: bold;
        width: 24.6rem;
        margin-left: 1.6rem;
    }

    #populaires_article_p2 {
        /* width: 246px; */
        /* margin-left: 16px; */
        /*! font-size: 1.4rem; */
        /* display: flex;
        flex-direction: column; */
        /* margin-left: 1.6rem; */
        width: 24.6rem;
        margin-left: 1.6rem;
        font-size: 1.4rem;
    }

    #populaires_article_p3 {
        /*! margin-top: 4.5rem; */
        /* width: 246px; */
        /* margin-left: 16px; */
        /* margin-top: 50px; */
        /* margin-bottom: 6px; */
        width: 24.6rem;
        margin-left: 1.6rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
        color: #0065FC;
    }

    #populaires_article_p3 i {
        color: #0065FC;
    }

    .populaires_article_bloc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 88rem;
    }

    #populaires_footer {
        width: 24.6rem;
        margin-left: 3rem;
        margin-top: 2.8rem;
        margin-bottom: 3.5rem;
    }

    #populaires_article_bloc_1 {
        /* width: 127px; */
    }

    #populaires_article_bloc_2 {
        margin-left: 1.6rem;
    }

    /* .populaires_article_last {
        margin-bottom: 3.4rem;
    } */
}