/* Tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {


    #hebergements{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .hebergement_title_bloc{

    }

    #hebergements_title {
        font-weight: bold;
        font-size: 2.2rem;
        /* padding-left: 2rem; */
        padding-top: 4.5rem;
        /* width: 32.5rem; */
    }

    #main_section_bloc_1 {
        margin-top: 2rem;
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: space-between; */
        /* align-items: center; */
    }

    #hebergements_article {
        width: 32.5rem;
        margin-top: 2.3rem;
        border: 0.5rem solid white;
        border-radius: 1.5rem;
        background-color: white;
        box-shadow: 0.7rem 0.7rem 0.7rem #F6F6F6;
    }

    #hebergements_article_photo {
        width: 32.5rem;
        height: 11.4rem;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
    }

    #hebergements_article_p1 {
        font-weight: bold;
        margin-left: 2rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }

    #hebergements_article_p2 {
        width: 32.5rem;
        margin-left: 2rem;
        font-size: 1.4rem;
    }

    #hebergements_article_p3 {
        /* width: 100%; */
        margin-left: 2rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }

    #hebergements_article_p3 i {
        color: #0065FC;
     }

    #hebergements_article_bloc {
        display: flex;
        flex-wrap : wrap;
        justify-content : space-evenly;
        width: 33.5rem;
    }

    #hebergements_footer{
        /* width: 100%; */
        margin-left: 1rem;
        margin-top: 2.8rem;
        /* margin-bottom: 3.5rem; */

    }

    #hebergements_footer b {
        width: 32.5rem;
    display: inline-block;
    font-weight: bold;
    }

}