html {
    border-style: solid;
    border-color: black
}

header {
    border-style: solid;
    border-color: red;
}

figure {
    border-style: solid;
    border-color:green;
}

nav {
    border-style: solid;
    border-color:green;
}

ol {
    border-style: solid;
    border-color: red;
 }

li {
    border-style: solid;
    border-color:green;
}

div {
    border-style: solid;
    border-color:green;
}

main{
    border-style: solid;
    border-color: red;
}


h2 {

}