@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");
   }

html {
    font-family: 'Raleway';
    margin: 50px;
}

header {
    display: flex;
    flex-direction : row;
}

figure {
    width: 50%;
    margin: 0 0 0 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content : flex-end;
    width: 50%;
}

ol {
    display: flex;
    flex-direction : row;
    list-style: none;
    margin: 0 0 0 0 ;
    padding: 0 0 0 0;
 }

li {
    color: #0065FC;
    margin-left: 70px;
}

#newuser {
    font-weight: bold;
}

main{
}

h2 {
}