@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");
   }

html {
    font-family: 'Raleway';
    margin: 50px;
}

header {
    display: flex;
    flex-direction : row;
}

figure {
    width: 50%;
    margin: 0 0 0 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content : flex-end;
    width: 50%;
}

ol {
    display: flex;
    flex-direction : row;
    list-style: none;
    margin: 0 0 0 0 ;
    padding: 0 0 0 0;
 }

li {
    color: #0065FC;
    margin-left: 70px;
}

#newuser {
    font-weight: bold;
}

main{

}

#main_search_title {
    margin-bottom: 16px;
    font-size: 22px;
}

#main_search_paragraphe {
    margin-bottom: 23px;
}

#main_searchbar {
    display: flex;
}

#main_search_mapmarker {
    display: flex;
    justify-content : center;
    align-items : center;
    background-color: #F2F2F2;
    border-top-left-radius: 14px 14px;
    border-bottom-left-radius: 14px 14px;
    width: 50px;
}

#main_search_input {
    /* display: flex;
    height: 51px; */
    border-color: #F2F2F2;
    border-style: solid;
    border-width: thin;
    padding-left: 17px;
    padding-right: 17px;
    width: 200px;
}

button {
    background-color: #0065FC;
    border: none;
    border-top-right-radius: 14px 14px;
    border-bottom-right-radius: 14px 14px;
    color: white;
    font-weight: bold;
    /* width: 134px; */
    width: 134px;
    height: 51px;
}

input {
    font-weight: bold;
    height: 50px;
    /* border-color: #F2F2F2;
    border-style: solid; */
    border-style: none;
}
