
#filter_titlep {
    font-weight: bold;
}

.filter_type {
    display: flex;
    align-items : center;
    border-top:#F2F2F2;
    border-bottom:#F2F2F2;
    border-right: #F2F2F2;
    border-style: solid;
    border-left-style: none;
    border-radius: 3rem;
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#filter_bloc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}


.filter_img {
    display: flex;
    justify-content : center;
    align-items : center;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 2.8rem;
    background-color: #DEEBFF;
}

.filter_img i {
    color: #0065FC;
}

#filter_bloc_title {
    font-weight: bold;
}

#info {
    display: flex;
    /* margin-top: 3.4rem; */
    justify-content: flex-start;
    /* margin-top: 3.7rem; */
}

#info_p {
    margin-left: 1.2rem
}

#info_title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background:white;
    border-radius:1.4rem;
    width:3rem;
    height:2.2rem;
    border:0.2rem solid #F2F2F2;
}

/* Mobile devices */
@media (max-width: 767px) {

    #info {
        padding: 2rem;
    }

    #filter {
        /* margin-top:4rem; */
        padding: 2rem;
    }

    #filter_title_mobile{
        margin-bottom: 1.8rem;
    }

    #filter_title_desktop{
        display: none;
    }

    .filter_type {
        margin-right: 1rem;
    }

    #filter_bloc_title {
        margin-left: 0.9rem;
        margin-right: 1.1rem;
    }

    #info_title {
        width:3rem;
    }

}

/* Desktop devices */
@media (min-width: 768px) {

    #filter {
        margin-top: 0;
    }

    #filter_title_mobile{
        display: none;
    }

    .filter_type {
        margin-right: 2.4rem;
    }

    #filter_bloc {
        margin-top: 3rem;
    }

    #filter_title_desktop{
        display: flex;
        justify-content: flex-start;
        align-items : center;
        margin-right: 4.8rem;
    }

    #filter_bloc_title {
        margin-left: 1.3rem;
        margin-right: 2.2rem;
    }

    #info_title {
        width:2.2rem;
    }

    #info_p {
        align-self: center;
    }

}