
#filter_titlep {
    font-weight: bold;
}

.filter_type {
    display: flex;
    align-items : center;
    border-top:#F2F2F2;
    border-bottom:#F2F2F2;
    border-right: #F2F2F2;
    border-style: solid;
    border-left-style: none;
    border-top-right-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#filter_bloc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}


.filter_img {
    display: flex;
    justify-content : center;
    align-items : center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.filter_img i {
    color: #0065FC;
}

#filter_bloc_title {
    font-weight: bold;
}

#info {
    display: flex;
    margin-top: 34px;
    justify-content: flex-start;
}

#info_p {
    margin-left: 12px;
}

#info_title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background:white;
    border-radius:14px;
    width:30px;
    height:22px;
    border:2px solid #F2F2F2;
}

/* Mobile devices */
@media (max-width: 767px) {

    #filter {
        margin-top:40px;
    }

    #filter_title_mobile{
        margin-bottom: 18px;
    }

    #filter_title_desktop{
        display: none;
    }

    .filter_type {
        margin-right: 10px;
    }

    #filter_bloc_title {
        margin-left: 9px;
        margin-right: 11px;
    }

    #info_title {
        width:30px;
    }

}

/* Desktop devices */
@media (min-width: 768px) {

    #filter {
        margin-top: 0px;
    }

    #filter_title_mobile{
        display: none;
    }

    .filter_type {
        margin-right: 24px;
    }

    #filter_bloc {
        margin-top: 30px;
    }

    #filter_title_desktop{
        display: flex;
        justify-content: flex-start;
        align-items : center;
        margin-right: 48px;
    }

    #filter_bloc_title {
        margin-left: 13px;
        margin-right: 22px;
    }

    #info_title {
        width:22px;
    }

    #info_p {
        align-self: center;
    }

}