/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0px) {

    html {
        font-size: 62.5%;
    }

    #logo {
        width: 50%;
        margin: 20px 0 0 20px;
    }

    .link:link {
        text-decoration: none;
        color: black;
        border-bottom: solid;
        border-color: transparent;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }

      .link:visited {
        text-decoration: none;
        color: black;
      }

      .link:hover {
        display: flex;
        width: 100%;
        justify-content : center;
        text-decoration: none;
        color: #0065FC;
        border-bottom: solid;
        padding-bottom: 15px;
      }

      .link:active {
        text-decoration: underline;
      }

    #header_nav_ol_mobile_2 {
        display: flex;
        flex-direction : row;
        justify-content : space-around;
        list-style: none;
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 0 0 0 0;
    }

    #header_nav_ol_mobile_1 {
        display: flex;
        flex-direction : row;
        list-style: none;
        margin-top: 20px;
        margin-bottom: 0px;
        padding: 0 0 0 0;
    }

    #header_bloc_menu {
        display: flex;
    }

    #header_nav_menu_desktop {
        display: none;
    }

    #header_nav_menu_mobile {
        display: flex;
        justify-content : flex-end;
        width: 100%;
    }

    #header_nav_housing {
        display: flex;
        width: 100%;
        justify-content : center;
    }

    #header_nav_activity {
        display: flex;
        width: 100%;
        justify-content : center;
    }

    #header_nav_registration_mobile {
        color: #0065FC;
        font-weight: bold;
        margin: 20px 20px 0 0;
    }
}

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { */
@media (min-width: 768px) {

    html {
        margin: 50px;
        font-size: 62.5%;
    }

    header {
        display: flex;
        flex-direction : row;
    }

    figure {
        width: 50%;
        margin: 0 0 0 0;
    }

    #header_nav_menu_desktop {
        display: flex;
        justify-content : flex-end;
        width: 50%;
    }

    #header_nav_menu_mobile {
        display: none;
    }

    #header_bloc_menu_mobile {
        display: none;
    }

    #header_bloc_menu {
        width: 100%;
    }

    ol {
        display: flex;
        flex-direction : row;
        list-style: none;
        margin: 0 0 0 0 ;
        padding: 0 0 0 0;
    }

    li {
        color: #0065FC;
        margin-left: 70px;
    }

    #header_nav_registration {
        font-weight: bold;
    }

}