/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0px) {

    html {
        font-size: 62.5%;
    }

    #bloc_menu_common {
        display: flex;
    }

    #logo {
        width: 50%;
        margin: 20px 0 0 20px;
    }

    #menu_desktop {
        display: none;
    }

    #menu_registration_mobile {
        display: flex;
        justify-content : flex-end;
        width: 100%;
    }

    ol {
        list-style: none;
    }

    #nav_registration_mobile {
        color: #0065FC;
        font-weight: bold;
        margin: 20px 20px 0 0;
    }

    #menu_housing_activity_mobile {
        display: flex;
        flex-direction : row;
        justify-content : space-around;
        list-style: none;
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 0 0 0 0;
    }

    .nav_mobile {
        display: flex;
        width: 100%;
        justify-content : center;
    }

    .link_mobile:link {
        text-decoration: none;
        color: black;
        border-bottom: solid;
        border-color: transparent;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }

    .link_mobile:visited {
        text-decoration: none;
        color: black;
      }

    .link_mobile:hover {
        display: flex;
        width: 100%;
        justify-content : center;
        text-decoration: none;
        color: #0065FC;
        border-bottom: solid;
        padding-bottom: 15px;
      }

    .link_mobile:active {
        text-decoration: underline;
      }

}

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { */
@media (min-width: 768px) {

    html {
        /* margin: 50px; */
        font-size: 62.5%;
        margin-left: 50px;
        margin-right: 50px;
    }

    header {
        display: flex;
        flex-direction : row;
        /* margin-top: 20px; */
    }

    img {
        padding-top:47px;
    }
    #logo {
        width: 50%;
        margin: 0 0 0 0;
    }

    #menu_desktop {
        display: flex;
        justify-content : flex-end;
        width: 50%;
    }

    #bloc_menu_common {
        width: 100%;
    }

    ol {
        display: flex;
        flex-direction : row;
        list-style: none;
        margin: 0 0 0 0 ;
        /* margin: 20px 20px 20px 20px; */
        padding: 0 0 0 0;
        /* align-items : flex-start; */
    }

    li {
        color: #0065FC;
        /* margin-left: 70px; */
    }

    #header_nav_registration {
        font-weight: bold;
    }


    .link{
        justify-content : flex-end;
    }
    .link_desktop:link {
        display: flex;
        justify-content : center;
        padding-top: 50px;
        border-top: solid;
        border-color: transparent;
        text-decoration: none;
        color: black;
      }

    .link_desktop:visited {
        text-decoration: none;
        color: black;
        justify-content : flex-end;
      }

    .link_desktop:hover {
        display: flex;
        justify-content : center;
        padding-top: 50px;
        text-decoration: none;
        color: #0065FC;
        border-top: solid;
      }

    .link_desktop:active {
        text-decoration: underline;
        justify-content : flex-end;
      }

    #nav_housing_desktop {
        width: 162px;
      }

    #nav_activity_desktop {
        width: 151px;
      }

    #nav_registration_desktop {
        display: flex;
        justify-content : center;
        align-items : center;
        padding-top: 28px;
        width: 123px;
    }

    #menu_registration_mobile {
        display: none;
    }

    #bloc_menu_mobile {
        display: none;
    }
}