/* Mobile devices */
@media (max-width: 767px) {
    #hebergements{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    #hebergements_title {
        font-weight: bold;
        font-size: 2.2rem;
        /* padding-left: 2rem; */
        padding-top: 4.5rem;
        width: 32.5rem;
    }

    #main_section_bloc_1 {
        margin-top: 2rem;
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: space-between; */
        /* align-items: center; */
    }

    #hebergements_article {
        width: 32.5rem;
        margin-top: 2.3rem;
        border: 0.5rem solid white;
        border-radius: 1.5rem;
        background-color: white;
        box-shadow: 0.7rem 0.7rem 0.7rem #F6F6F6;
    }

    #hebergements_article_photo {
        width: 32.5rem;
        height: 11.4rem;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
    }

    #hebergements_article_p1 {
        font-weight: bold;
        margin-left: 2rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }

    #hebergements_article_p2 {
        width: 32.5rem;
        margin-left: 2rem;
        font-size: 1.4rem;
    }

    #hebergements_article_p3 {
        /* width: 100%; */
        margin-left: 2rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }

    #hebergements_article_p3 i {
        color: #0065FC;
     }

    #hebergements_article_bloc {
        display: flex;
        flex-wrap : wrap;
        justify-content : space-evenly;
    }

    #hebergements_footer{
        /* width: 100%; */
        margin-left: 1rem;
        margin-top: 2.8rem;
        /* margin-bottom: 3.5rem; */

    }

    #hebergements_footer b {
        width: 32.5rem;
    display: inline-block;
    font-weight: bold;
    }
}

/* Desktop devices */
@media (min-width: 768px) {

    #hebergements {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        width: 65%;
        /* height: 625px; */
        border-radius: 10px;
        margin-right: auto;
    }

    #hebergements_title {
        margin-top: 4.7%;
        margin-left: 3.7%;
        font-weight: bold;
        font-size: 2.2rem;
    }

    #main_section_bloc_1 {
        margin-top: 37px;
        display: flex;
        justify-content: space-between;
    }

    #hebergements_article {
        display: flex;
        flex-direction: column;
        justify-content : center;
        align-items : center;
        width: 246px;
        margin-top: 3%;
        border: 5px solid white;
        border-radius: 15px;
        background-color: white;
    }

    #hebergements_article_photo {
        width: 246px;
        height: 114px;
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
    }

    #hebergements_article_p1{
        justify-content : flex-start;
        margin-top: 6px;
        margin-bottom: 6px;
        font-weight: bold;
        width: 246px;
        margin-left: 16px;
    }

    #hebergements_article_p2{
        width: 246px;
        margin-left: 16px;
        font-size: 14px;
    }

    #hebergements_article_p3{
        width: 246px;
        margin-left: 16px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    #hebergements_article_bloc {
        display: flex;
        flex-wrap : wrap;
        justify-content : space-around;
        padding-left: 2%;
        padding-right: 2%;
    }

    #hebergements_footer{
        width: 100%;
        margin-left: 3.7%;
        margin-top: 3.7%;
        margin-bottom: 3.7%;
    }
}