/* Smartphone */
@media screen and (min-width: 0px) and (max-width: 767px) {

    #bloc_menu_common {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem;
    }

    #bloc_menu_common figure {
        margin: 0;
    }

    #logo_img {
        width: 9.7rem;
        height: 4.5rem;
    }

    #menu_desktop {
        display: none;
    }

    #menu_registration_mobile ol {
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    ol {
        list-style: none;
    }

    #nav_registration_mobile {
        color: #0065FC;
        font-weight: bold;
    }

    #menu_housing_activity_mobile {
        display: flex;
        flex-direction : row;
        justify-content : space-around;
        list-style: none;
        margin-bottom: 0;
        padding: 0 0 0 0;
    }

    .nav_mobile {
        display: flex;
        width: 18.75rem;
        justify-content : center;
    }

    .link_mobile:link {
        text-decoration: none;
        color: black;
        border-bottom: solid;
        border-color: transparent;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
      }

    .link_mobile:visited {
        text-decoration: none;
        color: black;
      }

    .link_mobile:hover {
        display: flex;
        width: 18.75rem;
        justify-content : center;
        text-decoration: none;
        color: #0065FC;
        border-bottom: solid;
        padding-bottom: 1.5rem;
      }

    .link_mobile:active {
        text-decoration: underline;
      }

}