/* Smartphone */
@media screen and (min-width: 0px) and (max-width: 767px) {
  /* .hebergements {
    background-color: #f7f7f7;
  } */

  .hebergements_footer {
    width: 33.5rem;
    margin-bottom: 2rem;
  }
}
