/* Laptop / Desktop  Big */
@media screen and (min-width: 1200px){

    #populaires_article_bloc_2 b {
        font-weight: normal;
    }

    #populaires {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        border-radius: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-left: 4rem;
    }

    #populaires_title {
        font-weight: bold;
        font-size: 2.2rem;
    }

    #populaires_title_bloc {
        display: flex;
        justify-content: space-between;
        /* width: 33.5rem; */
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    #populaires_title_logo {
        display: flex;
        align-items : flex-end;
    }

    #populaires_title_logologo{
        color: black;
    }

    .populaires_article {
        display: flex;
        /* flex-direction: row; */
        width: 33rem;
        height: 13.4rem;
        margin-top: 2.3rem;
        border: 0.5rem solid white;
        border-radius: 1.5rem;
        background-color: white;
    }

    #populaires_article_photo {
        width: 12.7rem;
        height: 13.4rem;
        /* height: 114px; */
        border-radius: 1rem 0 0 1rem;
        object-fit: cover;

    }

    #populaires_article_p1 {
        /* justify-content : flex-start; */
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
        font-weight: bold;
        width: 15rem;
        /* margin-left: 16px; */
    }

    #populaires_article_p2 {
        /* width: 246px; */
        /* margin-left: 16px; */
        font-size: 1.4rem;
        /* display: flex;
        flex-direction: column; */
        /* margin-left: 1.6rem; */
    }

    #populaires_article_p3 {
        margin-top: 4.5rem;
        /* width: 246px; */
        /* margin-left: 16px; */
        /* margin-top: 50px; */
        /* margin-bottom: 6px; */
    }

    #populaires_article_p3 i {
        color: #0065FC;
    }

    #populaires_article_bloc {
        display: flex;
        flex-wrap : wrap;
        justify-content : space-evenly;
    }

    #populaires_footer {
        width: 24.6rem;
        margin-left: 3rem;
        margin-top: 2.8rem;
        margin-bottom: 3.5rem;
    }

    #populaires_article_bloc_1 {
        /* width: 127px; */
    }

    #populaires_article_bloc_2 {
        margin-left: 1.6rem;
    }

    .populaires_article_last {
        margin-bottom: 3.4rem;
    }
}