/* Laptop / Desktop  Big */
@media screen and (min-width: 1440px) {
  #main_section_bloc_2 {
    display: flex;
    width: 133rem;
  }

  #activite {
    display: flex;
    flex-direction: column;
    /* background-color: #F2F2F2; */
    /* width: 100%; */
    /* height: 625px; */
    /* border-radius: 10px; */
    /* margin-right: auto; */
    /* margin-top: 6.5rem; */
  }

  #activite_title {
    margin-top: 35px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 22px;
  }

  #activite_article_photo {
    width: 30rem;
    height: 39rem;
    /* height: 114px; */
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }
}
